.con_wrap1703 table {
	border-top:1px solid #17538e;
}
.con_wrap1703 table th {
	height: 25px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: 600;
	color: #333;
	font-size: 13px;
	text-align: left;
	vertical-align: middle;
	background: #f5f5f5;
}
.con_wrap1703 table tr th, .con_wrap1703 table tr td {
	font-size:13px !important;
	border-bottom: 1px solid #d1d1d1;
	padding-left: 10px;
}
.con_wrap1703 a.btn.mid {
	width:66px; 
	height:32px;
	padding:0 10px !important;
	font-size:13px !important;
	line-height:30px !important;
	border-radius:0;
}
.con_wrap1703 h5 {
	font-size:14px !important;
	font-weight:600;
	margin-bottom:5px !important;
}
.con_wrap1703 p {
	font-size:13px !important;
} /* color:#666 !important; size:11pt.*/
.con_wrap1703 {
	font-family:'Gothic', Arial;
}
.con_wrap1703ul {
	background:url(/Images/Common/ico_dotted_gray.png) 0 bottom repeat-x;  
	padding-bottom:10px;
}
table.tableSchedule td {
	text-align:center;
}
body {
	background:#ffffff !important; 
}