/* CSS Document */

.mainCnt {overflow:hidden}
.mainCnt li {overflow:hidden; height:100%; border:1px solid #d1d1d1; background:#fff;}
.mainCnt li a {display:block}
.mainCnt li.last {margin-right:0px}
.mainCnt .cntCon {position:relative; padding:25px 15px; font-family: 'Nanum Gothic Bold'; text-align:center; line-height:20px}
.mainCnt .cntCon .cntCon_inner {position:relative; color:#333; z-index:9}
.mainCnt .cntCon .cntCon_inner a {color:#333;}
.mainCnt .cntCon .cntCon_inner.on a {color:#fff}
.mainCnt .cntCon .cnt_cover {position:absolute; top:0px; left:0px; width:100%; height:0px; background:#3679bd; z-index:8}
.mainCnt .cntCon .cntTit {font-size:22px;}
.mainCnt .cntCon .cntTit.on {color:#fff !important}
.mainCnt .cntCon .cntTit_sub {margin:5px 0 39px 0; color:#555}
.mainCnt .cntCon .cntTit_sub.on {color:#fff !important }
.mainCnt .cntCon .cntTxt {margin-bottom:30px}
.mainCnt .cntImg {position:relative;}
.mainCnt .cntImg .areaImg img {width:100%;}
.mainCnt .cntImg .cover {display:none;position:absolute; left:0px; top:0px; width:100%; height:100%; background:url('/localCampus/Images/Common/bg_cover.png') repeat;  text-align:center; opacity:0}
.mainCnt .cntImg .cover img {position:absolute; top:50%; left:50%; margin:-39px; 0 0 -30px}
.mainCnt .cntImg .cover.on {display:block}

.mainCnt .cntCon .location {height:40px; padding:48px 0 0 0}
.mainCnt .cntCon .location.on {background:url('/localCampus/Images/Common/ico_location_white.png') center 0 no-repeat !important}
.mainCnt .cntCon.no1 .cntTit a {color:#3679bd}
.mainCnt .cntCon.no1 .cntTit.on a {color:#fff}
.mainCnt .cntCon.no1 .cnt_cover {background:#3679bd;}

.mainCnt .cntCon.no2 .cntTit a {color:#75902f}
.mainCnt .cntCon.no2 .cntTit.on a {color:#fff}
.mainCnt .cntCon.no2 .cnt_cover {background:#75902f;}

.mainCnt .cntCon.no3 .cntTit a {color:#169184}
.mainCnt .cntCon.no3 .cntTit.on a {color:#fff}
.mainCnt .cntCon.no3 .cnt_cover {background:#169184;}

.mainCnt .cntCon.no4 .cntTit a {color:#ba1200}
.mainCnt .cntCon.no4 .cntTit.on a {color:#fff}
.mainCnt .cntCon.no4 .cnt_cover {background:#ba1200;}

.mainCnt .cntCon.no1 .location {background:url('/localCampus/Images/Common/ico_location_blue.png') center 0 no-repeat}
.mainCnt .cntCon.no2 .location {background:url('/localCampus/Images/Common/ico_location_green1.png') center 0 no-repeat}
.mainCnt .cntCon.no3 .location {background:url('/localCampus/Images/Common/ico_location_green2.png') center 0 no-repeat}
.mainCnt .cntCon.no4 .location {background:url('/localCampus/Images/Common/ico_location_red.png') center 0 no-repeat}
