		#Content div.slot, #Content div.slot .insideSlot {
			float:left;
			width:234px;
			height:250px;
			position:relative;
			cursor:pointer;
		}
		#Content div.slot .insideSlot {
			z-index:3;
		}
		#Content div.slot .insideSlot.withSelectCampus {
			top:-261px;
		}
		#Content div.slot {
			margin-left:8px;
		}
		#Content div.slot.first {
			margin-left:0px;
		}
		.slotIcon {
			position:absolute;
			right:0;
			top:0;
			z-index:2;
		}
		p.courseName {
			position:absolute;
			left:13px;
			top:-3px;
			letter-spacing:-1px;
			color:#373737;
			font-size:20px;
			font-family:'SandolGothicNeo2'; 
			font-weight:600;
		} /* letter-spacing:-1px; */
		p.courseName.long {
			letter-spacing:-1.5px;
		}
		p.courseDescription {
			position:absolute;
			left:13px;
			top:32px;
			width:204px;
			color:#878787;
			font-size:13px;
			letter-spacing:-1px;
			font-weight:300;
			line-height:19px;
			word-break:keep-all;
		} /* letter-spacing:-1.1px; color:#706f6f*/
		p.courseDescription.under2line {
			top:53px;
		}
		.slotIcon {
			DISPLAY:NONE;
		}

		.companyLogo { width:70%; }
		.companyName { font-size:18px !important; letter-spacing:-1px; font-weight:600; line-height:18px !important; text-align:center; }
		p.companyName { margin-top:1em; margin-bottom:0.2em; }
		.companyDetail { text-align:center; }
		p.companyDetail { margin-top:0.8em; margin-bottom:0.8em; }
		.divCompanyEmploy { border:1px solid #a9a9a9; height:188px; }
		
		.conImg a img { width:90% !important; }
		.conImg { height:80px; }
		
		/* BELOW : for 4 boxes in one row: */
		.myConList { border:1px solid #d1d1d1; float:left; width:23.7%; height:204px; margin-left:5px; margin-bottom:6px; background-color:#f9f9f9; }
		.conImg { height:100px; }
		.companyCnt { min-height:60px; letter-spacing:-1.5px; }
		.divName { height:40px; overflow-y:hidden; }

		.blueTxt {
			color:#1b499b !important;
		} /* Override */
