<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web> <!-- aspx -->
		<customErrors mode="Off"/>
		<compilation debug="true"/>
		<globalization fileEncoding="euc-kr" requestEncoding="euc-kr" responseEncoding="euc-kr" culture="ko-KR" uiCulture="ko-KR"/>
		<pages validateRequest="false"/>
    </system.web>
	
	<system.webServer> <!-- asp -->
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.asp" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed" />
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>
</configuration>
